table , th, td{
    border: 1px solid black;
}

table{
    width: 100%;
    background-image: url("https://picsum.photos/id/684/600/400");
    border-collapse: collapse;
}

th{
    height: 35px;
    /* background-color: darkorchid; */

}

tr{
    /* background-color: chocolate; */
}

td{
    text-align: center;
    height: 35px;
    vertical-align: middle;
    padding: 15px;
}

tr:nth-child(n+4):nth-child(even):nth-child(-n+9){
    background-color: gray;
}

td:hover, th:hover{
    background-color: darkgoldenrod;
}

